@import "sizes";

.card {

  background-color: #fdfdfe;
  //min-width: $break-small;
  border: 1px solid rgba(165, 165, 165, 0.28);
  border-radius: 3px;
  margin: 20px 10px;
  //height: 100%;
  @media (max-width: $break-small) {
    margin: 0;
  }
}

.card-header {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 25px 20px;
  text-decoration-line: underline;
}

.card-body {
  font-size: 1rem;
  margin: 20px 30px;
  li {
    margin: 10px auto;
  }

  &__schedule{
    margin: 0 20px 20px 20px;
  }
}