@import "normalize";
@import "card";
@import "sizes";

@mixin info-text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;

  color: #000000;
}

html, body {
  height: 100%
}

.row {
  display: flex;
  flex-direction: row;
  @media (max-width: $break-small) {
    flex-direction: column;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.column-width-50 {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin: 0 auto;
  background: #F5F7FA;

  &-menu {
    flex: 0 1 auto;
    width: 100%;
    background-color: #f5f7fa;
  }

  &-body {
    flex: 1 0 auto;
    background-color: #ffffff;
    width: 100%;
  }

  &-footer {
    flex: none;
    height: 100px;
    background-image: linear-gradient(45deg, #00A8C5 0%, #FFFF7E 100%);

  }

  .some-text {
    width: $break-large;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(108, 117, 125, 0.03);
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;

    @media screen and (max-width: $break-medium) {
      width: auto;
    }

  }
  .container-menu {
    height: auto;
    background-image: linear-gradient(45deg, #00A8C5 0%, #FFFF7E 100%);

    .wrap-icons {
      height: auto;
      max-width: $break-medium;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 auto;

      .icon {
        //background-color: #1b1e21;
        display: flex;

        min-width: 300px;
        height: 75px;
        margin: auto 0;
        &__text {
          width: 100%;
          margin: auto;
          font-family: Roboto Condensed;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          font-size: 36px;
          text-align: center;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #000000;

          &__red {
            color: #EB5757;
          }
        }
      }
      .phone {
        display: flex;
        //word-wrap: break-word;
        min-width: 200px;
        min-height: 75px;
        &__text {
          width: 100%;
          margin: auto;

          @include info-text;

          //a {
          //  text-decoration: none;
          //  color: #0000ff;
          //}

        }
        :hover {
          color: #0b2e13;
          text-decoration: none;
        }
        @media (max-width: $break-small) {
          min-height: 45px;
        }
      }
      .email {
        display: flex;
        min-width: 200px;
        min-height: 75px;
        &__text {
          width: 100%;
          margin: auto;
          @include info-text;
          text-transform: unset;
        }
        @media (max-width: $break-medium) {
          display: none;
        }
        :hover {
          color: #0b2e13;
          text-decoration: none;
        }
      }
    }
  }
  .work-resume {
    width: 100%;
    @media (max-width: $break-medium) {
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .work-schedule {
    //width: 100%;
    max-width: 100%;
    @media (max-width: $break-medium) {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
    }
  }
  .work-price {
    max-width: 100%;
    @media (max-width: $break-medium) {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
    }
  }

  .govnovoz {
    width: auto;
    //min-width: 100%;
    //max-height: 100%;
    object-fit: contain;
    margin-left: 20px;
    margin-top: -10px;
    @media (max-width: $break-xsmall) {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      max-width: 100%;
    }

  }

  .order-button {
    border-radius: 28px;
    padding: 8px 16px;
    background-image: linear-gradient(45deg, #00A8C5 0%, #FFFF7E 100%);
    border: 0 none;

    font-family: Roboto;
    //font-style: normal;
    font-weight: 500;
    //line-height: normal;
    font-size: 14pt;
    color: #0b2e13;
    //margin: ;
  }
  .work-order {
    &__column {
      //justify-items: center;
    }
    .buttn-wrapper {
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  .back-call-form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  /* Modal Content */
  &__content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    //left: 250px;
    top: 25%;
    padding: 0;
    border: 1px solid #888;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .close {
    border-radius: 28px;
    padding: 8px 16px;
    background-image: linear-gradient(45deg, #00A8C5 0%, #FFFF7E 100%);
    border: 0 none;

    font-family: Roboto;
    //font-style: normal;
    font-weight: 500;
    //line-height: normal;
    font-size: 14pt;
    color: #0b2e13;

  }
}
