@import "normalize";
@import "card";
@import "sizes";

@mixin info-text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  text-align: center;
  text-decoration-line: underline;
  text-transform: capitalize;

  color: #000000;
}

html, body {
  height: 100%
}

.container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin: 0 auto;
  background: #F5F7FA;

  &-menu {
    flex: 0 1 auto;
    width: 100%;
    background-color: #f5f7fa;
  }

  &-body {
    flex: 1 0 auto;
    background-color: #ffffff;
    width: 100%;
  }

  &-footer {
    flex: none;
    height: 100px;
    background-color: #9fcdff;

  }

  .some-text {
    display: flex;
    flex-direction: column;

    width: $break-medium;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(108, 117, 125, 0.03);
    font-family: Roboto;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;

    @media screen and (max-width: $break-medium) {
      width: auto;
    }

  }
  .container-menu {
    height: auto;
    background-color: #08AEEA;
    background-image: linear-gradient(45deg, #00A8C5 0%, #FFFF7E 100%);

    .wrap-icons {
      height: auto;
      max-width: $break-medium;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0 auto;

      .icon {
        //background-color: #1b1e21;
        display: flex;

        min-width: 300px;
        height: 75px;
        margin: auto 0;
        &__text {
          width: 100%;
          margin: auto;
          font-family: Roboto Condensed;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          font-size: 36px;
          text-align: center;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #000000;

          &__red {
            color: #EB5757;
          }
        }
      }
      .phone {
        display: flex;
        //word-wrap: break-word;
        min-width: 200px;
        min-height: 75px;
        &__text {
          width: 100%;
          margin: auto;

          @include info-text;

        }
        @media (max-width: $break-small) {
          min-height: 45px;
        }
      }
      .email {
        display: flex;
        min-width: 200px;
        min-height: 75px;
        &__text {
          width: 100%;
          margin: auto;
          @include info-text;
          text-transform: unset;
        }
        @media (max-width: $break-medium) {
          display: none;
        }
      }
    }
  }
}

