@import "../node_modules/bootstrap/scss/bootstrap";
//@import "../node_modules/bootstrap/scss/grid";

.hello {
  font-size: 2rem;
}

.header {
  background-color: #6c757d;
  height: 20rem;
  max-height: 20rem;

  color: $white;
}

//@media (min-width: 62em) {
//  .company-name {
//    font-size: 5.6rem;
//  }
//}
//@media (min-width: 48em) {
//  .company-name {
//    font-size: 3.6rem;
//  }
//}

.content-main {
  background-color: #E7FAFF;
}

.content-row {
  background: white;
  border: rgba(108, 117, 125, 0.25) solid 0.5px;
  border-radius: 2px;
}

.material-icons__phone {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  font-family: 'Open Sans', cursive;
  font-weight: inherit;
}
.city-group{

}